html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c !important; 
    color: white; 
}

.container {
    text-align: center;
    margin-top: 20px;
}

.container h2 {
    color: #25FF08; 
}

.container h5 {
    color: white;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px;
    padding: 40px 20px;
    justify-items: center;
    background-color: #000000;
    border-radius: 10px;
    border-color: #25FF08;
    width: 95%;
    margin: 0 auto 40px auto;
}

.game-item {
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.game-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.game-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.btn-deltarune {
    display: inline-block;
    padding: 8px 10px;
    margin-bottom: 18px;
    font-size: 14px;
    font-family: 'deltarune', sans-serif;
    background-color: black;
    color: white;
    border: 4px solid white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    box-shadow: 0 0 12px white;
    text-decoration: none;
    border-radius: 10px;
}

.btn-deltarune:hover {
    background-color: #1c1c1c;
    color: #FFFF00;
    transform: scale(1.1);
}
