@font-face {
    font-family: 'deltarune';
    src: url('../fonts/undertale-deltarune-text-font-extended.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'deltarune', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #000; /* Estilo oscuro retro */
    color: #fff;
}

main {
    flex: 1;
}

.navigation {
    background-color: #000;
    border-bottom: 2px solid #00ff00; 
    padding: 15px 0;
    font-family: 'deltarune';
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #00ff00; /* Rosa neon */
    transition: width 0.3s ease;
}

.navigation a:hover::after {
    width: 100%;
}

/* Contenedor con fondo */
.containerwebsite {
    background-image: url('../resources/key-art.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerwebsite p {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border: 2px solid #0ff000; 
    box-shadow: 0 0 10px #0ff000; 
    font-size: 24px;
    text-align: center;
    max-width: 600px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #0ff000;
    font-family: 'deltarune', sans-serif;
    text-shadow: 0 0 5px #0ff000;
    letter-spacing: 1px;
    /* Efecto de parpadeo */
    animation: flicker 3s infinite;
    transition: all 0.3s ease;
    /* Puntero clickable */
    cursor: pointer;
}

.containerwebsite p::selection {
    background: #0ff000;
    color: black;
}
.containerwebsite p:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;

}
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #0ff000;
    font-size: 14px;
}

footer a {
    color: #0ff000;
    text-decoration: none;
}

#mutearMusica {
    width: 28px;      
    height: 28px;
    cursor: pointer;
    display: inline-block;
}

.navigation ul li {
    display: flex;
    align-items: center;
}

